.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

.logo {
  display: flex;
  gap: 1rem;
}

.title {
  font-size: 2.5rem;
}

.logo > img {
  height: 3rem;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.links > a {
  text-decoration: none;
  padding: 1.5rem 0.5rem;
  border-radius: 0.5rem;
}

.links > a:hover {
  background-color: var(--hover-color);
  transition: background-color ease-in 0.25s;
}

.links > a:active {
  color: var(--active-color);
  transition: color ease-in-out 0.05s;
}

.active {
  background-color: var(--hover-color);
}
