.title {
  font-size: 2rem;
  font-weight: bolder;
}

.loading {
  display: grid;
  gap: 1.25rem;
  font-size: 2.5rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-weight: 700;
}

.loader {
  margin: auto;
  border: 2vw solid var(--light-white);
  border-radius: 50%;
  border-top: 2vw solid var(--main-color);
  width: 15vw;
  height: 15vw;
  animation: spinner 1s linear infinite;
}

.post {
  display: grid;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--light-grey);
}

.footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.author {
  font-weight: bolder;
}

.thumbnail {
  height: 3rem;
}

.content {
  text-align: justify;
}

.comments {
  display: grid;
}

.commentAuthor {
  font-weight: bolder;
}

.comment {
  display: grid;
  gap: 0.15rem;
  margin-bottom: 0.75rem;
}

.addComment {
  justify-self: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .post {
    margin: 0 1rem;
    align-self: center;
  }
}

@media only screen and (min-width: 900px) {
  .post {
    width: min(75%, 100ch);
    align-self: center;
  }
}
