.container {
    display: grid;
    justify-items: center;
}

.commentContainer {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.comment {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--light-grey);
}

.date {
    font-size: 0.85rem;
}

.post {
    font-weight: bolder;
}