.container {
  display: grid;
  justify-items: center;
  gap: 0.75rem;
  align-self: center;
}

.commentContainer {
  display: grid;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.comment {
  display: grid; 
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--light-grey);
}

.date {
  font-size: 0.85rem;
}

.postTitle {
  font-weight: bolder;
  font-size: 1.1rem;
}

.title {
  font-weight: bolder;
  font-size: 1.4rem;
}

.separator {
  width: 90%;
  border-bottom: solid 2px var(--black);
}

.commentText {
  text-align: justify;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .commentContainer {
    margin: 0 1rem;
    align-self: center;
  }
}

@media only screen and (min-width: 900px) {
  .commentContainer {
    width: min(75%, 100ch);
    align-self: center;
  }
}
