.form {
  display: grid;
  padding: 0 1rem;
  gap: 1rem;
}

.title {
  font-weight: bolder;
  font-size: 1.3rem;
}

.textarea {
  background-color: var(--light-white);
  border-radius: 0.5rem;
  border: solid 5px var(--hover-color);
}

.submit {
  justify-self: center;
}
